<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body class="bg1">
    <div class="container">
       <div class="row">
           <div class="col-md-12 text  font4 "
           style="
    margin-top: 180px;">
               <div class="title ">
                    <h3>Congratulations <strong>{{u}}!</strong> YOU GOT!</h3>
                </div>
                <h4 >
                {{s}} out of {{i}}
            </h4>
            <a href="/">
               <input type="submit" value="Back to Home" class="btn btn-success"/>
           </a>
           </div>
       </div>
    </div>
    
</body>

</html>